#jt-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all .2s ease-out;
}

#jt-cover.show {
    visibility: visible;
    opacity: 1;
}

#jt-modal {
    position: relative;
    overflow: hidden;
    width: 580px;
    top: 80px;
    left: -120px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.90);
    font-family: arial, sans-serif;
    box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, .4);
    transition: all .2s ease-out;
}

#jt-modal.show {
    left: -0px;
}

#jt-modal .hotkey {
    height: 27px;
    padding: 3px 5px;
    font-size: 13px;
    box-sizing: border-box;
}

#jt-modal .hotkey .command {
    position: relative;
    float: left;
    font-weight: 600;
    color: rgba(0, 0, 0, .54);
}

#jt-modal .hotkey .desc {
    float: left;
    padding-top: 3px;
}

#jt-modal .key {
    position: relative;
    display: inline-block;
    top: -1px;
    min-width: 25px;
    height: 21px;
    padding: 4px 6px 3px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: rgba(0, 0, 0, .71);
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .5);
    text-align: center;
}

#jt-modal .key-fixed {
    width: 31px;
    padding-left: 0;
    padding-right: 2px;
}

#jt-menu {
    position: relative;
    background-color: white;
    border-bottom: 1px solid rgb(200, 200, 200);
}

#jt-menu #jt-back {
    position: absolute;
    width: 18px;
    height: 32px;
    margin: 3px;
    padding: 0 11px;
    font-size: 35px;
    color: white;
    cursor: pointer;
}

#jt-menu #jt-back:hover {
    background-color: rgba(0, 0, 0, .12);
}

#jt-menu #jt-back-arrow {
    position: relative;
    overflow: hidden;
    top: -7px;
}

#jt-menu .caption {
    height: 29px;
    margin: 0 -1px;
    padding: 10px 0 0 48px;
    font-size: 18px;
    color: white;
    background-color: rgb(235, 62, 35);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .80);
    vertical-align: middle;
}

#jt-menu .items {
    position: relative;
    width: 70%;
    height: 39px;
    margin: 0 auto;
    font-weight: 600;
}

#jt-menu .item {
    float: left;
    width: 33.3%;
    height: 100%;
    padding-top: 13px;
    font-size: 14px;
    color: rgba(0, 0, 0, .43);
    text-align: center;
    cursor: pointer;
}

#jt-menu .selected {
    color: rgb(224, 56, 34);
}

#jt-menu #jt-menu-selection {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 33.3%;
    height: 3px;
    background-color: rgb(235, 62, 35);
    transition: left 0.3s ease-in-out;
}


#jt-content {
    position: relative;
    left: 0;
    width: 2300px;
    height: 360px;
    background-color: rgb(220, 220, 220);
    transition: left 0.3s ease-in-out
}

#jt-general, #jt-media, #jt-controls, #jt-about {
    position: absolute;
    width: 580px;
    height: 100%;
    box-sizing: border-box;
}

#jt-general {
    padding-top: 23px;
    padding-left: 33px;
}

#jt-general .left {
    float: left;
    width: 251px;
}

#jt-general .right {
    float: left;
}

#jt-general .left .command {
    width: 100px;
}

#jt-general .right .command {
    width: 166px;
}

#jt-media {
    left: 580px;
}

#jt-media {
    padding-top: 23px;
    padding-left: 25px;
}

#jt-media .top-left {
    float: left;
    width: 255px;
}

#jt-media .top-right {
    float: left;
}

#jt-media .bottom-left {
    float: left;
    width: 265px;
}

#jt-media .bottom-right {
    float: left;
}

#jt-media .top-left .command {
    width: 89px;
}

#jt-media .top-right .command {
    width: 166px;
}

#jt-media .bottom-left .command {
    width: 110px;
}

#jt-media .bottom-right .command {
    width: 107px;
}

#jt-media .bottom .command {
    width: 170px;
}


#jt-about {
    left: 1160px;
}

#jt-about #jt-logo-version {
    width: 380px;
    height: 212px;
    margin: 36px auto 24px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.97);
    padding-top: 170px;
    box-sizing: border-box;
    text-align: center;
    background: black url("../../images/logo.png") center 50px no-repeat;
    box-shadow: 3px 3px 14px rgb(75, 75, 75);
}

#jt-about .info {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

#jt-about a {
    color: rgb(0, 80, 230);
    text-decoration: none;
}

#jt-about #jt-browserinfo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 7px;
    font-size: 10px;
    text-align: center;
    color: transparent;
}

.divider {
    clear: both;
}

.full-divider {
    clear: both;
    height: 21px;
}

#jt-general .full-divider {
    clear: both;
    height: 19px;
}

#jt-content {
    left: -1160px;
}

#jt-content {
    left: -580px;
}