#wmsx-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    outline: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all .2s ease-out;
    z-index: 100;
}

#wmsx-cover.wmsx-show {
    visibility: visible;
    opacity: 1;
}

#wmsx-modal {
    position: relative;
    overflow: hidden;
    width: 600px;
    top: 50px;
    left: -120px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.90);
    font-family: arial, sans-serif;
    box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, .4);
    transition: all .2s ease-out;
}

#wmsx-modal.wmsx-show {
    left: -0px;
}

#wmsx-modal .wmsx-hotkey {
    height: 27px;
    padding: 3px 5px;
    font-size: 13px;
    box-sizing: border-box;
}

#wmsx-modal .wmsx-heading {
    font-size: 13px;
    font-weight: 700;
    color: rgba(0, 0, 0, .60);
}

#wmsx-modal .wmsx-hotkey .wmsx-command {
    position: relative;
    float: left;
    font-weight: 600;
    color: rgba(0, 0, 0, .54);
}

#wmsx-modal .wmsx-hotkey .wmsx-desc {
    float: left;
    padding-top: 3px;
}

#wmsx-modal .wmsx-hotkey-msx {
    font-weight: 600;
    color: rgba(0, 0, 0, .54);
}

#wmsx-modal .wmsx-key {
    position: relative;
    display: inline-block;
    top: -1px;
    min-width: 25px;
    height: 21px;
    padding: 4px 6px 3px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: rgba(0, 0, 0, .71);
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .5);
    text-align: center;
}

#wmsx-modal .wmsx-key-msx {
    width: 65px;
    color: rgb(255, 255, 255);
    background-color: rgb(90, 90, 90);
    font-weight: normal;
    border-radius: 0px;
    border: 1px solid rgb(140, 140, 140);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .3);
}

#wmsx-modal .wmsx-key-msx-stop {
    background-color: rgb(235, 50, 50);
    border: 1px solid rgb(250, 110, 110);
}

#wmsx-modal .wmsx-key-fixed {
    width: 31px;
    padding-left: 0;
    padding-right: 2px;
}

#wmsx-menu {
    position: relative;
    background-color: white;
    border-bottom: 1px solid rgb(200, 200, 200);
}

#wmsx-menu #wmsx-back {
    position: absolute;
    width: 18px;
    height: 32px;
    margin: 3px;
    padding: 0 11px;
    font-size: 35px;
    color: white;
    cursor: pointer;
}

#wmsx-menu #wmsx-back:hover {
    background-color: rgba(0, 0, 0, .12);
}

#wmsx-menu #wmsx-back-arrow {
    position: relative;
    overflow: hidden;
    top: -7px;
}

#wmsx-menu .wmsx-caption {
    height: 29px;
    margin: 0 -1px;
    padding: 10px 0 0 48px;
    font-size: 18px;
    color: white;
    background-color: rgb(230, 50, 30);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .80);
    vertical-align: middle;
}

#wmsx-menu .wmsx-items {
    position: relative;
    width: 75%;
    height: 39px;
    margin: 0 auto;
    font-weight: 600;
}

#wmsx-menu .wmsx-item {
    float: left;
    width: 25%;
    height: 100%;
    padding-top: 13px;
    font-size: 14px;
    color: rgba(0, 0, 0, .43);
    text-align: center;
    cursor: pointer;
}

#wmsx-menu .wmsx-selected {
    color: rgb(230, 50, 30);
}

#wmsx-menu #wmsx-menu-selection {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 3px;
    background-color: rgb(230, 50, 30);
    transition: left 0.3s ease-in-out;
}


#wmsx-content {
    position: relative;
    left: 0;
    width: 3000px;
    height: 378px;
    background-color: rgb(220, 220, 220);
    transition: left 0.3s ease-in-out
}

#wmsx-general, #wmsx-inputs, #wmsx-media, #wmsx-controls, #wmsx-about {
    position: absolute;
    width: 600px;
    height: 100%;
    box-sizing: border-box;
}

#wmsx-general {
    padding-top: 23px;
    padding-left: 39px;
}

#wmsx-general .wmsx-left {
    float: left;
    width: 248px;
}

#wmsx-general .wmsx-left .wmsx-command {
    width: 102px;
}

#wmsx-general .wmsx-right {
    float: left;
}

#wmsx-general .wmsx-right .wmsx-command {
    width: 160px;
}

#wmsx-media {
    left: 600px;
}

#wmsx-media {
    padding-top: 16px;
    padding-left: 40px;
}

#wmsx-media .wmsx-top-left {
    float: left;
    width: 285px;
}

#wmsx-media .wmsx-top-right {
    float: left;
}

#wmsx-media .wmsx-bottom-left {
    float: left;
    width: 275px;
}

#wmsx-media .wmsx-bottom-right {
    float: left;
}

#wmsx-media .wmsx-top-left .wmsx-command {
    width: 55px;
}

#wmsx-media .wmsx-top-right .wmsx-command {
    width: 110px;
}

#wmsx-media .wmsx-bottom-left .wmsx-command {
    width: 110px;
}

#wmsx-media .wmsx-bottom-right .wmsx-command {
    width: 110px;
}

#wmsx-media .wmsx-bottom .wmsx-command {
    width: 174px;
}

#wmsx-inputs {
    left: 1200px;
}

#wmsx-inputs {
    padding-top: 23px;
    padding-left: 40px;
}

#wmsx-inputs .wmsx-left {
    float: left;
    width: 275px;
}

#wmsx-inputs .wmsx-left .wmsx-command {
    width: 95px;
}

#wmsx-inputs .wmsx-right .wmsx-command {
    width: 95px;
}

#wmsx-inputs .wmsx-bottom {
    margin-left: 95px;
}

#wmsx-inputs .wmsx-bottom .wmsx-command {
    width: 100px;
}

#wmsx-about {
    left: 1800px;
}

#wmsx-about #wmsx-logo-version {
    width: 380px;
    height: 212px;
    margin: 36px auto 24px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.97);
    padding-top: 170px;
    box-sizing: border-box;
    text-align: center;
    background: black;
    box-shadow: 3px 3px 14px rgb(75, 75, 75);
}

#wmsx-about .wmsx-info {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

#wmsx-about a {
    color: rgb(0, 80, 230);
    text-decoration: none;
}

#wmsx-about #wmsx-browserinfo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 7px;
    font-size: 10px;
    text-align: center;
    color: transparent;
}

.wmsx-clear {
    clear: both;
}

.wmsx-full-divider {
    clear: both;
    height: 21px;
}

#wmsx-general .wmsx-full-divider {
    clear: both;
    height: 18px;
}

#wmsx-content {
    left: -1800px;
}

#wmsx-content {
    left: -1200px;
}

#wmsx-content {
    left: -600px;
}
